[run]
omit =
    */tests.py
    */migrations/*
    manage.py
    */wsgi.py
    */asgi.py


[report]
exclude_lines =
    # Ne pas inclure les lignes qui ne seront pas exécutées
    if __name__ == .__main__.:
